*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 480px){
    html{
        width: 100%;
        overflow-x: hidden;
    }
}

body{
    background: radial-gradient(ellipse at center, #DE3616 20%, #eb8836 80%);
}

h1{
    display: none; 
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 480px){
    body{
        margin: 1rem;
        max-width: 480px;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imgchar{
        display: none;
    }
}


/*#####################################*/
/*############### TITLE ###############*/
/*#####################################*/

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.allwords{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
}

.discover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 2px #005763;
    color: #00B0C7;
    font-size: 80px;
    font-family: Bangers;
    text-shadow: 3px 3px 4px rgba(175, 221, 107, 1), 3px -3px 4px rgba(175, 221, 107, 1), -3px 3px 4px rgba(175, 221, 107, 1), -3px -3px 4px rgba(175, 221, 107, 1);
}
.word3{
    font-size: 96px;
    margin-right: 2rem;
    -webkit-text-stroke: 2px #005763;
}

@media (max-width: 480px){
    .header{
        flex-direction: column;
        margin-top: -30rem;
        margin-bottom: 13rem;
        max-width: 480px;
    }
    .imgtitle img{
        max-width: 440px;
    }
    .discover{
        font-size: 64px;
    }
    .word3{
        margin-right: 0rem;
    }
}
/*#####################################*/
/*################ END ################*/
/*#####################################*/



/*########################################################*/
/*######### Table of buttons to random characters ########*/
/*########################################################*/

.randomZone{
    display: flex;
    flex-direction: column;
    border: 8px solid #afdd6b;
    border-radius: 1rem;
    background-color: #005763;
    color: #00B0C7;
    padding: 1rem;
    margin-top: 13rem;
}

.instruction-choose{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: #00B0C7;
    font-size: 40px;
    font-family: Bangers;
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
}

.choose-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose{
    color: #00B0C7;
    font-size: 24px;
    font-family: Bangers;
    font-weight: 500;
    letter-spacing: 1px;
    text-wrap: nowrap;
    text-align: center;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    padding-top: 1rem;
}

.filter-button{
    height: 100px;
    margin: 5px 0;
    border: 3px solid #afdd6b;
    border-radius: 1rem;
    background-color: #00B0C7;
    color: #005763;
    font-size: 40px;
    font-family: Bangers;
    padding: 1rem;
}

.filter-button:hover{
    cursor: pointer;
    background-color: #005763;
    color: #00B0C7;
}

.dead{
    font-family: Butcherman;
}

@media (max-width: 480px){
    .buttons-container{
        flex-direction: row;
    }
    .randomZone{
        margin-top: 20rem;
        width: 392px;
        align-items: center;
        padding: 0.5rem;
    }
    .instruction-choose{
        flex-direction: row;
        gap: 1rem;
    }
    .filter-button{
        height: 50px;
        font-size: 24px;
        padding: 0 0.7rem;
    }
    .buttons-container{
        padding-top: 0;
        gap: 1rem;
    }
}
/*#####################################*/
/*################ END ################*/
/*#####################################*/


.tableHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*############################################*/
/*################### POPUP ##################*/
/*############################################*/

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    animation: popup 1s;
    background-image: url(images/teleport.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    width: 600px;
    height: 600px;
    border-radius: 15rem;
    z-index: 99;
    text-align: center;
    font-family: Bangers;
    text-shadow: 0 5px 10px #ffffff, 5px 0 10px #ffffff, -5px 0 10px #ffffff, 0 -5px 10px #ffffff;
    &>p{
        color: #005763;
        font-size: 26px;
        margin-bottom: 1rem;
    }
    &>h2{
        color: #005763;
        font-size: 40px;
        margin-bottom: 1rem;
    }
    &>h3{
        color: #005763;
        font-size: 32px;
        font-weight: 500;
        text-decoration: underline;
    }
    &>ul{
        color: #005763;
        font-size: 24px;
        margin: 0 3rem;
    }
}

.center-popup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.p-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 1rem;
    &>p{
        color: #005763;
        font-size: 26px;
        margin: .5rem 0;
        text-align: left;
    }
}

#popup-image{
    width: 250px;
    height: 250px;
    border-radius: 5rem;
}

@keyframes popup {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.2);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.popup-close {
    position: absolute;
    bottom: 2%;
    left: 50%;
    cursor: pointer;
    color: #afdd6b;
    font-family: Bangers;
    font-size: 40px;
    text-shadow: 0 10px 15px #005763, 10px 0 15px #005763, -10px 0 15px #005763, 0 -10px 15px #005763;
    transform: translateX(-50%);
}

.popup-close:hover{
    color: #005763;
    text-shadow: 0 10px 15px #afdd6b, 10px 0 15px #afdd6b, -10px 0 15px #afdd6b, 0 -10px 15px #afdd6b;
}


@media (max-width: 480px){
    .popup{
        width: 350px;
        height: 350px;
        padding: 40px;
        &>h2{
            font-size: 26px;
        }
        &>h3{
            font-size: 18px;
        }
        &>ul{
            font-size: 18px;
        }
    }

    .p-row{
        &>p{
            font-size: 18px;
            margin: .2rem 0;
        }
    }
    #popup-image{
        width: 150px;
        height: 150px;
        border-radius: 2rem;
        margin-bottom: 0.5rem;
    }
    .popup-close {
        font-size: 24px;
        text-shadow: 0 5px 10px #005763, 5px 0 10px #005763, -5px 0 10px #005763, 0 -5px 10px #005763;
    }
}
/*#####################################*/
/*################ END ################*/
/*#####################################*/



/*##################################################*/
/*############### Table of characters ##############*/
/*##################################################*/

.characters-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 1140px;
    height: 620px;
    padding: 0.5rem;
    background-color: #005763;
    border: 8px solid #afdd6b;
    border-radius: 1rem;
    z-index: 1;
}

.character {
    border: 4px solid #afdd6b;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 150px;
    height: 270px;
    background-color: #00B0C7;
    &>h3{
        color: #005763;
        font-size: 24px;
        font-family: Bangers;
        font-weight: 500;
        letter-spacing: 1px;
        height: 75px;
        width: 140px;
        text-align: center;
    }
}

.character:hover{
    cursor: pointer;
    background-color: #005763;
    &>h3{
        color: #00B0C7;
    }
    &>p{
        color: #00B0C7;
    }
}

.character img {
    max-width: 100%;
    height: auto;
    border-radius: 3rem;
}

p{
    color: #005763;
    font-size: 14px;
    font-family: Bangers;
    font-weight: 500;
    letter-spacing: 1.5px;
}

@media (max-width: 480px){
    .characters-container{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        width: 380px;
        height: 1860px;
    }
}

/*#####################################*/
/*################ END ################*/
/*#####################################*/

.imgchar img{
    transform: translateY(10%) translateX(-25%) scale(1.5);
    z-index: 0;
}


/*#################################################*/
/*################ TELEPORT BUTTON ################*/
/*#################################################*/

.teleport{
    display: none;
}

@media (max-width: 480px){
    .teleport{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }
    .warnarrow{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: translateX(50px);
        &>img{
            width: 100px;
            height: 50px;
        }
    }
    .warning{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 200px;
       height: 100px;
    }
    .push{
        color: white;
        font-size: 32px;
        font-family: Bangers;
        font-weight: 500;
        background-color: rgb(222, 2, 2);
        border-radius: 2rem 2rem 0 0;
        padding: 0.7rem 2rem;
    }
    .up{
        color: black;
        font-size: 32px;
        font-family: Bangers;
        font-weight: 500;
        background-color: white;
        border-radius: 0 0 2rem 2rem;
        padding: 0.7rem 2rem;
    }
    .changecolor{
        color: white;
    }
    .btn-teleport{
        width: 250px;
        height: 250px;
        background-image: url(images/teleporter.png);
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateX(-45px);
    }
}

/*#####################################*/
/*################ END ################*/
/*#####################################*/